/* line 1, ../../sass/variables/variables.scss */
:root {
  --els-orange: #f58220;
  --els-blue: #00aeef;
  --els-yellow: #ffc72a;
  --els-green: #4aad4d;
  --els-red: #ed1944;
  --els-purple: #865e9c;
  --els-black: rgba(109, 110, 113, 0.7);
  --els-black-2: rgba(230, 231, 232, 0.1);
  --els-dark-grey: #353538;
  --width: 10vw;
  --full-width: 10vw;
  --angle: -4.3deg;
  --magic-number: 0.1;
  --skew-padding: calc(var(--width) * var(--magic-number));
  --clip-padding: calc(var(--full-width) * var(--magic-number));
}
